<!-- author_update.html -->

{% extends 'base.html' %}

{% block content %}
    <h2>Edit Author</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ author.first_name }}">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ author.last_name }}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ author.email }}">
        </div>
        <button type="submit" class="btn btn-primary">Update Author</button>
    </form>
{% endblock %}
